.footer {
        
    &-link {
        color: lighten($red, 20%);       
    }

    .page-footer {
        background-color: $black !important;

    }
    &-link {
        line-height: 1.5em;
    }
    h5 {
        line-height: 2em;
    }
}