.main {
    
    &-welcome {

        background-image: url('/images/building.jpg');
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover;
        margin-top: -65px;
        
        img {
            padding-bottom: 70%;
            padding-top: 5%;
        }

        .row {
            margin-bottom: 0;
        }

    }
    
}